<!DOCTYPE html>
    <html>
    <head>
        <title>Agregar tareas</title>
        <link href="../Styles/styleTareas.css" rel="stylesheet" />
    </head>
    <body>
      <form method="POST" style="text-align: center;">
        <label for="titulo"><br><br>Título:</label>
        <input type="text" name="titulo" id="titulo" placeholder="20 caracteres"><br><br>
        <label for="descripcion">Descripción:</label><br><br>
        <textarea name="descripcion" id="descripcion" rows="6" cols="80" style="resize: vertical;" placeholder="200 caracteres"></textarea><br><br>
        <button type="submit">Agregar Tarea</button><br><br>
    </form>
    <br>
    <a href="contenido.php" style="font-size: 20px; font-weight: bold; color: green;" >Volver a ver las tareas asignadas</a>
    <br>
    <p><a class="a_bottom" href="logout.php">Cerrar sesión</a></p>
</body>
</html>