<!DOCTYPE html>
    <html>
    <head>
        <title>Agregar tareas</title>
        <link href="../Styles/styleTareas.css" rel="stylesheet"/>
    </head>
    <body>
      <div style="text-align: center;">
        <h2>La tarea se ha registrado correctamente</h2>
        
        </div>
      <form method="POST" style="text-align: center;">
        <label for="titulo"><br><br>Título:</label><br><br>
        <input type="text" name="titulo" id="titulo" placeholder="20 caracteres"><br><br>
        <label for="descripcion">Descripción:</label><br><br>
        <textarea name="descripcion" id="descripcion" rows="6" cols="50" placeholder="200 caracteres"></textarea><br><br>
        <button type="submit">Agregar Tarea</button><br><br>
    </form>
    <br>
    <p>
        <a class="a_bottom" href="contenido.php">Volver a la lista de tareas</a>
        <br /><br />
        <a class="a_bottom" href="logout.php">Cerrar sesión</a>
      </p>
</body>
</html>