body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../Img/fondo_difuminado_login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  width: 80%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

th,
td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #2f9fa5;
}

th {
  background-color: #2f9fa5;
  color: #fff;
}

tr:hover {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: rgb(0, 92, 128);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.a_bottom {
  font-size: 18px;
  font-weight: bold;
  color: rgb(14, 14, 134);
}

form {
  width: 50%;
  background-color: #ffffffa5;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 15px;
}

div {
  width: 50%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 15px;
}

input[type="text"],
select,
input[type="submit"]
{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 5px;
}

textarea {
  width: 100%;
  max-width: 100%; 
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  resize: vertical; 
}

input[type="submit"],
button[type="submit"] {
  background-color: #4285f4;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
  background-color: #357ae8;
}
