body{
  margin: 0;
  padding: 0;
  background-image: url(../Img/fondo_difuminado_login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
}
